@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
  font-family: Outfit;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer {
  margin-top: auto;
}
    

#home-card {
  margin-left: 10px;
}

#index-banner {
  background-image: url('https://i.postimg.cc/s2k6jhd5/images.jpg');
  background-size: cover;
}

.brand-logo{
  margin-left: 1%;
  font-weight: 600;
}

nav a, ul a {
  color: black !important;
  font-weight: 600;
}

.section{
  padding-left: 10%;
  padding-right: 10%;
}

.section-text{
  font-weight: 600;
}

.row-flashes{
  font-weight: 600;
}