body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer {
  margin-top: auto;
}
    

#home-card {
  margin-left: 10px;
}

#index-banner {
  background-image: url('//files/images/glasses.jpg');
  background-size: cover;
}