---
permalink: /404.html
---




{% extends "base.html" %}
{% block content %}
    <!--404 section-->
    <section>
        <div>
            <h4 class="center">404 - Page Not Found</h1>
            <h4 class="center">The page you are looking for doesnt exist or has been moved.</h4><br>
            <div class="center">
                <a href="{{ url_for('home') }}" class="btn waves-effect black col s12">
                    Home
                </a>
            </div>
        </div>
    </section>
    <!--404 section-->
{% endblock %}
