<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <title>Mixify</title>
</head>


<body>
    <header>
    <!--Navbar Using Materialize CSS-->
        <nav>
            <div class="nav-wrapper  orange accent-3">
            <a href="{{ url_for('home') }}" class="brand-logo">Mixify</a>
            <a href="{{ url_for('home') }}" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down"> 
                <li><a href="{{ url_for('recipes') }}">Recipes</a></li>
                <li><a href="{{ url_for('favourites') }}">Favourites</a></li>
                <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
                <li><a href="{{ url_for('login') }}">Log In</a></li>
            </ul>
            </div>
        </nav>
        <!-- mobile sidenav -->
        <ul class="sidenav" id="mobile-demo">
          <li><a href="{{ url_for('recipes') }}">Recipes</a></li>
          <li><a href="{{ url_for('favourites') }}">Favourites</a></li>
          <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
          <li><a href="{{ url_for('login') }}">Log In</a></li>
        </ul>
    </header>
    <!--Flash Message Section for all pages-->
    <div>
        <div class="container">
            {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
            <div class="row-flashes center-align">
                <p>{{ message }}</p>
            </div>
            {% endfor %} {% endif %} {% endwith %}
        </div>
    </div>

    <!--Main content-->
        {% block content %}
        {% endblock %}
    </main>
    <!--Footer Using Materialize CSS-->
    <footer class="page-footer black">
        <div class="footer-copyright">
          <div class="container">
          Mixify.com
          </div>
        </div>
      </footer>
    <!--Footer Using Materialize CSS-->



    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>