<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <title>Mixify</title>
</head>


<body>
    <header>
    <!--Navbar Using Materialize CSS-->
        <nav>
            <div class="nav-wrapper">
            <a href="#" class="brand-logo">Mixify</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="sass.html">Recipes</a></li>
                <li><a href="badges.html">Favourites</a></li>
                <li><a href="collapsible.html">Sign Up</a></li>
                <li><a href="collapsible.html">Log In</a></li>
            </ul>
            </div>
        </nav>
    </header>
    <!--Navbar Using Materialize CSS-->
    <main class="container">

    </main>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>



    <!--Footer Using Materialize CSS-->
    <footer class="page-footer">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
            </div>
            <div class="col l4 offset-l2 s12">
              <ul>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          Mixify.com
          </div>
        </div>
      </footer>
    <!--Footer Using Materialize CSS-->



    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</body>
</html>