<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <title>Mixify</title>
</head>


<body>
    <header>
        <!--Navbar Using Materialize CSS-->
        <nav>
            <div class="nav-wrapper orange accent-3">
                <a href="{{ url_for('home') }}" class="brand-logo">Mixify</a>
                <a href="{{ url_for('home') }}" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    {% if session['user'] %}
                        <!-- If user is logged in -->
                        <li><a href="{{ url_for('recipes') }}">Recipes</a></li>
                        <li><a href="{{ url_for('add_recipe') }}">Add Recipe</a></li>
                        <li><a href="{{ url_for('my_recipes') }}">My Recipes</a></li>
                        <li><a href="{{ url_for('favourites') }}">Favourites</a></li>
                        <li><a href="{{ url_for('logout') }}">{{ session['user']|capitalize }} (Logout)</a></li>
                    {% else %}
                        <!-- If user is not logged in -->
                        <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
                        <li><a href="{{ url_for('login') }}">Log In</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <!-- mobile sidenav -->
        <ul class="sidenav" id="mobile-demo">
            {% if session['user'] %}
                <!-- If user is logged in -->
                <li><a href="{{ url_for('recipes') }}">Recipes</a></li>
                <li><a href="{{ url_for('add_recipe') }}">Add Recipe</a></li>
                <li><a href="{{ url_for('my_recipes') }}">My Recipes</a></li>
                <li><a href="{{ url_for('favourites') }}">Favourites</a></li>
                <li><a href="{{ url_for('logout') }}">{{ session['user']|capitalize }} (Logout)</a></li>
            {% else %}
                <!-- If user is not logged in -->
                <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
                <li><a href="{{ url_for('login') }}">Log In</a></li>
            {% endif %}
        </ul>
    </header>
    <!--Flash Message Section for all pages-->
    <div class="orange accent-3">
        <div class="container">
            {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
            <div class="row-flashes center-align ">
                <p>{{ message }}</p>
            </div>
            {% endfor %} {% endif %} {% endwith %}
        </div>
    </div>

    <!--Main content-->
        {% block content %}
        {% endblock %}
    </main>
    <!--Footer Using Materialize CSS-->
    <footer class="page-footer black">
        <div class="footer-copyright">
            <div class="container center-align">
                <div class="icons-container">
                    <a href="#!" class="footer-social"><i class="fab fa-facebook fa-2x"></i></a>
                    <a href="#!" class="footer-social"><i class="fab fa-twitter fa-2x"></i></a>
                    <a href="#!" class="footer-social"><i class="fab fa-instagram fa-2x"></i></a>
                </div>
            </div>
        </div>
    </footer>
    <!--Footer Using Materialize CSS-->



    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>