{% extends "base.html" %}
{% block content %}
<!--My Recipes Title Header-->
<div id="alt-banner">
    <div class="container">
        <h2 class="center">My Recipes</h2>
        <br>
        <br>
        <div class="row">
            <!--For loop Statement to only show recipes submitted by the current user-->
            {% for recipe in user_recipes %}
            <div class="col s12 m6 l4">
                <!--Card div to display recipe-->
                <div class="card">
                    <div class="card-image">
                        <img src="{{ url_for('static', filename='recipe_images/' + recipe.image_path) }}">
                        <span class="card-title">{{ recipe.title }}</span>
                    </div>
                    <div class="card-content">
                        <p>{{ recipe.description }}</p>
                    </div>
                    <div class="card-action">
                        <a href="{{ url_for('view_recipe', recipe_id=recipe.recepieid) }}">View Recipe</a>
                    </div>                    
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}