{% extends "base.html" %}
{% block content %}
<!--My Recipes Title Header-->
<div id="alt-banner">
    <div class="container">
        <h2 class="center">Recipes submitted by me</h2>
        <div class="row">
            <!--For loop Statement to only show recipes submitted by the current user-->
            {% for recipe in user_recipes %}
            <div class="col s4 m4">
                <!--Card div to display recipe preview-->
                <div class="card">
                    <div class="card-content">
                        <span class="card-title center-align">{{ recipe.title }}</span>
                        <hr>
                        <br>
                        {% if recipe.image_path %}
                        <div class="card-image">
                            <img src="{{ url_for('static', filename='recipe_images/' + recipe.image_path) }}">
                            <br>
                            <br>
                        </div>
                        {% endif %}
                        <p class="center-align">{{ recipe.description }}</p>
                        <div class="button-container center-align">
                            <br>
                            <br>
                            <!-- View button -->
                            <a href="{{ url_for('view_recipe', recipe_id=recipe.recepieid) }}" class="btn orange accent-3 black-text">
                                <i class="material-icons lcenter">visibility</i>
                            </a>
                            <!-- Edit button -->
                            <a href="{{ url_for('edit_recipe', recipe_id=recipe.recepieid) }}" class="btn orange accent-3 black-text">
                                <i class="material-icons center">edit</i>
                            </a>
                            <!-- Delete button -->
                            <form method="post" action="{{ url_for('delete_recipe', recipe_id=recipe.recepieid) }}" style="display: inline;">
                                <button type="submit" class="btn orange accent-3 black-text">
                                    <i class="material-icons center-align">delete</i>
                                </button>
                            </form>
                        </div>                        
                    </div>  
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}