{% extends "base.html" %}
{% block content %}
<!--All Recipes Title Header-->
<div id="alt-banner">
    <div class="container">
        <h2 class="center">All Recipes</h2>
        <br>
        <div class="row">
            <!--For loop Statement to show all recipes held in DB-->
            {% for recipe in recipes %}
            <div class="col s12 l4">
                <!--Card div to display recipe preview-->
                <div class="card">
                    <div class="card-content">
                        <span class="card-title center-align" style="font-weight: bold;">{{ recipe.title | truncate(20) }}</span>
                        <hr>
                        {% if recipe.description | length > 75 %}
                            <p class="center-align">{{ recipe.description | truncate(75) }} <a href="{{ url_for('view_recipe', recipe_id=recipe.recepieid) }}" class="orange-text see-more-link" data-description="{{ recipe.description }}">See more</a></p>
                        {% else %}
                            <p class="center-align">{{ recipe.description }}</p>
                        {% endif %}
                        <div class="button-container center-align">
                            <hr>
                            <!-- View button -->
                            <a href="{{ url_for('view_recipe', recipe_id=recipe.recepieid) }}" class="btn orange accent-3 black-text">
                                <i class="material-icons lcenter">visibility</i>
                            </a>
                        </div>                        
                    </div>  
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
