{% extends "base.html" %}
{% block content %}
<!--View Recipe Title Header-->
<div class="container">
    <!--Pull Recipe Title from Database-->
    <h2>{{ recipe.title }}</h2>
    <div class="row">
        <div class="col s12 m6">
            <div class="card">
                <div class="card-image">
                    <img src="{{ url_for('static', filename=recipe.image_path) }}" alt="{{ recipe.title }}">
                    <span class="card-title">{{ recipe.title }}</span>
                </div>
                <div class="card-content">
                    <p>{{ recipe.description }}</p>
                </div>
                <div class="card-content">
                    <h5>Ingredients:</h5>
                    <p>{{ recipe.ingredients }}</p>
                </div>
                <div class="card-content">
                    <h5>Instructions:</h5>
                    <p>{{ recipe.instructions }}</p>
                </div>
                <p class="center-align">Recipe submitted by: {{ recipe.submitter_username }}</p>
                <!--Delete button-->
                <form method="post" action="{{ url_for('delete_recipe', recipe_id=recipe.recepieid) }}">
                    <button type="submit">
                        Delete Recipe
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
